.input-group {
  margin-bottom: 10px;

  .card {
    padding: 0.375em 0.75em;
  }
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;

  h5 {
    margin: 0;
    line-height: calc(50% + 1.25em);
  }
}
